@using Proje.Entity.Concrete
@model Message

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Mesaj Detay";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Mesaj Sayfası</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Istatistik/Index">Anasayfa</a></li>
                        <li class="breadcrumb-item"><a href="/Contact/Index">Gelen Kutusu</a></li>
                        <li class="breadcrumb-item active">Mesaj Sayfası</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="row">
            @Html.Action("PartialFolder", "Contact")
            <div class="col-md-9">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Mesaj Oku</h3>

                        <div class="card-tools">
                            <a href="#" class="btn btn-tool" title="Geri"><i class="fas fa-chevron-left"></i></a>
                            <a href="#" class="btn btn-tool" title="İleri"><i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="mailbox-read-info">
                            <h5><b>Konu :</b> @Model.Subject</h5>
                            <h6>
                                <b>Kimden</b>: @Model.SenderMail
                                <span class="mailbox-read-time float-right">@Model.MessageDate</span>
                            </h6>
                        </div>
                        <div class="mailbox-read-message">
                            <p>
                                @Model.Content
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="float-right">
                            <button type="button" class="btn btn-default"><i class="fas fa-reply"></i> Yanıtla</button>
                            <button type="button" class="btn btn-default"><i class="fas fa-share"></i> Yönlendir</button>
                        </div>
                        <button type="button" class="btn btn-default"><i class="far fa-trash-alt"></i> Sil</button>
                        <button type="button" class="btn btn-default"><i class="fas fa-print"></i> Yazdır</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>