@using Proje.Entity.Concrete
@model Category

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Kategori Güncelle";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Kategori Güncelle</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                        <li class="breadcrumb-item"><a href="/category/list">Kategoriler</a></li>
                        <li class="breadcrumb-item active">Kategori Güncelle</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-12">
                    <div class="card card-primary card-outline">
                        @using (Html.BeginForm())
                        {
                            @Html.HiddenFor(model => model.Id)

                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Kategori Adı</label>
                                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "kategori adı" })
                                    @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Kategori Açıklama</label>
                                    @Html.TextBoxFor(x => x.Description, new { @class = "form-control", placeholder = "kategori açıklama" })
                                    @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" name="Status">
                                    <label class="form-check-label" for="exampleCheck1">Aktif</label>
                                </div>

                            </div>
                            <div class="card-footer">
                                <a href="/category/list" class="btn btn-secondary">
                                    <i class="fas fa-arrow-left"></i>
                                    Listeye Geri Dön
                                </a>
                                <button type="submit" class="btn btn-success float-right">
                                    <i class="fas fa-save"></i>
                                    Kaydet
                                </button>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>